<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>


	<logger name="tribu-cache" level="DEBUG">
	</logger>


	<logger name="tribu.api" level="INFO">
	</logger>

	<logger name="tribu.api-stacktraces" level="INFO">
	</logger>


	<logger name="tribu-queries" level="DEBUG">
	</logger>


	<logger name="tribu-tokens" level="INFO" >
	</logger>

	<logger name="fr.gouv.education.tribu.api" level="DEBUG" >
	</logger>

</configuration>
